
#toptitle{
color: rgb(228, 36, 29);
background-color: rgb(31, 31, 241);
}
#titulo1{
    margin-left: 25px;
}
#fotos1{
    margin-left: 70px;

}
#carousel{
    margin-left: 250px;
    width: 1224px;
    height: 600px;
    margin-top:200;
}
.carousel-control-prev{
margin-left: 235px;

}
.carousel-control-next{
margin-left:200px

}

.w-100 {
    width: 100% !important;
}

